@charset "UTF-8";

@font-face {
    font-family: 'Minecraft';
    src: url('../fonte/Minecraft.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}



:root{
    --fontmine: 'Minecraft' , sans-serif ;
    --fontvermin: 'Vermin', Arial;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html, body{
    min-height: 100vh;
    background-color: darkgray;
    background-image: url('../imagem/fundo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header{
    background-image: url('../imagem/header.png');
    background-size: cover;
    text-align: center;
    background-attachment: fixed;
    height: 20vh;
}

header h1{
    padding-top: 50px;
    font-family: var(--fontmine);
    font-weight: 300;
    font-size: 7.2vw;
}

nav{
    background-color: #57C7CF;
    padding: 10px;
}

nav a{
    text-decoration: none;
    padding: 10px;
    font-weight: bolder;
    color: white;
    font-size: 1.2em;
    border-radius: 10px;
    transition-duration: 0.5s;
}

nav a:hover{
    text-decoration: underline;
    background-color: rgb(6, 143, 153);
}

main{
    background-color: white;
    max-width: 800px;
    min-width: 280px;
    margin: auto;
    line-height: 2em;
    box-shadow:solid 3px 3px 3px rgba(0, 0, 0, 0.212);
}

main h1{
    padding: 30px 30px 0px 30px;
    font-family: fantasy;
    font-weight: 100;
    font-size: 2.7em;
}

section{
    padding-top: 10vh;
    padding-bottom:10vh;
}

section.normal{
    padding-left: 30px;
    padding-right: 30px;
    text-align: justify;
}

section.imagem{
    background-color: black;
    color: white;
    background-size: 100% 100%;
    height: 200px;
    background-attachment: fixed;
    box-shadow: inset 13px 6px 3px 0px rgba(0, 0, 0, 0.096);
}

section.imagem > p{
    background-color: rgba(0, 0, 0, 0.493);
    padding: 10px;
    display: inline-block;
    margin: 10px 10px 10px 20px;
    text-shadow: 1px 2px 2px black;
    font-family: var(--fontmine);
    font-size: 1.2em;
}

section#img01{
    background-image: url('../imagem/header2.png');
    background-position: right center;
}

section#img02{
    background-image: url('../imagem/header3.png');
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

footer a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

footer a:hover{
    text-decoration: underline;
}