@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}


body{
    background-color: indigo;
    background-attachment: fixed;
}

header{
    background-image: linear-gradient(to bottom, blue, rgb(2, 2, 189));
    height: 140px;
}

header h1{
    text-align: center;
    padding-top: 50px ;
    font-weight: 100;
    font-size: 2.7em;
}

nav{
    background-color: rgb(2, 2, 189);
    padding: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.479);
    text-align: center;
}

nav > a {
    color: black;
    text-decoration: none;
    padding: 10px 10px 10px 10px;
    border-radius: 7px;
    font-weight: bolder;
    font-size: 1.1em;
}

nav > a:hover{
    background-color: blue;
    text-decoration: underline;
    
}

main{
    width: 620px;
    margin: auto;
    background-color: white;
}

main h1{
    text-align: center;
}

form{
    line-height: 2em;
    padding: 20px;
}

fieldset#dados, fieldset#esportes, fieldset#satis{
    padding: 20px;
}

fieldset#dados > p{
    font-size: 1.1em
}