@charset "UTF-8";

@media screen and (min-width:768px) {
    
    header button#burguer{
        display: none;
    }

    nav > ul{
        text-align: center;
    }
    
    nav > ul > li{
        display: inline-block;
        padding: 10px;
        box-shadow: none;
        border: none;
        
    }

    nav a:hover{
        text-decoration: underline;
    }


    main.container{
        flex-flow: row wrap;
        align-content: space-evenly;
        justify-content: space-evenly;
        align-items: center;
        gap: 15px;
        height: 800px;
        background-attachment: fixed;
        width: 70vw;
    }

    div.item-card img.imagem{
        width: 220px;
        height: 170px;
        position: relative;
        top: -20px;
        left: -20px;
      }

    main.container > div.item-card{
        width:220px;
        height:240px;
    }

    main.container > div.item-card p{
        font-size: 1.3rem;
    }
}