@charset "UTF-8";

*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body{
  background: rgb(170, 4, 4) url('imagem/imagem-fundo.jpg') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

header{
  background-color: rgb(194, 4, 4);
  min-height: 120px;
  text-align: center;
  padding-top: 30px;
}

header > h1{
  font-size: 1.8rem;
  padding-bottom: 10px;
  font-weight: 500;
  color: white;
  text-shadow: 1px 1px 1px black;
  font-style: italic;
}

header > p{
  font-size: 1.1rem;
  font-weight: 400;
  padding-bottom: 15px;
}

header button#burguer{
  width: 100%;
  height: 40px;
  background-color: rgba(255, 68, 0, 0.637);
  border: 1px solid black;
  cursor: pointer;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.308);
  font-size: 1.8rem;
}

header button#burguer:hover{
  background-color: rgba(255, 68, 0, 0.404);
  color: red;
}

nav{
  display: none;
}

nav > ul{
  background-color: rgb(255, 68, 0);
  cursor: pointer;
}

nav > ul > li{
  border-top:1px solid black;
  padding: 10px;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.329);
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.301);
  font-size: 1.2rem;
  
}

nav > ul > li:hover{
  background-color: red;
}

nav a{
  text-decoration: none;
  color: black;
}

nav a:hover{
  text-decoration: underline;
}


main.container{
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.384);
  height: 600px;
  width: 90vw;
  margin: auto;
  margin-top: 20px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  text-align: center;
  gap: 10px;
  transition: height 0.8s, width 0.8s;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.507);
  border-radius: 10px;
}

div.item-card img.imagem{
  width: 160px;
  height: 120px;
  position: relative;
  top: -20px;
  left: -20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

main.container > div.item-card{
  background-color: rgb(179, 6, 6);
  border: 2px solid black;
  color: white;
  padding: 20px;
  width: 160px;
  height: 180px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.411);
  border-radius: 10px;
  cursor: pointer;
  transition: height 0.8s, width 0.8s;
  overflow: hidden;
}

main.container > div.item-card:hover{
  background-color: black;
  color: white;
  transform: translateY(-3px);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.411);
}

div.item-card > p{
  margin-top: 5px;
  font-weight: 500;
  font-size: 1.1rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.397);
}

footer{
  background-color: orangered;
  padding: 10px;
  text-align: center;
  margin-top: 20px;
  font-weight: 500;
  color: white;
  cursor: pointer;
}

footer p{
  padding-bottom: 10px;
}

footer:hover{
  background-color: rgb(184, 2, 2)}

footer span#link-foo{
  font-size: 1.2rem;
  padding-left: 5px;
  padding-right: 5px;
}

footer a{
  text-decoration: none;
  color: white;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.397);
}

footer a:hover{
  text-decoration: underline;
}